package templates

// ChatBubble returns a Templ component containing a chat bubble.
// If isUserMessage is true, the bubble is displayed on the right 
// side of the screen. Otherwise, it is displayed on the left.
// If the message is updating, it streams an LLM response from
// the server.
templ ChatBubble(message string, isUserMessage bool, isUpdating bool, url string) {
    <div 
        class={"chat-bubble w-full flex", templ.KV("justify-end", isUserMessage)}
    >
        <div class={"flex flex-col w-full max-w-xl leading-1.5 p-4 border-gray-200 bg-gray-100", templ.KV("rounded-r-xl rounded-b-xl", !isUserMessage), templ.KV("rounded-l-xl rounded-b-xl", isUserMessage)}>
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900">User</span>
            </div>
            <div class="text-sm font-normal py-2.5 text-gray-900 [&_ul]:list-inside [&_ul]:list-disc [&_ol]:list-item" 
                if !isUserMessage {
                    hx-ext="sse" sse-connect={url} sse-swap="message" sse-close="done"
                }
            >
            if isUserMessage {
                {message}
            } else {
                @templ.Raw(message)
            }
            </div>
        </div>
    </div>
}