package templates

// UserChatBubble returns a Templ component containing a user chat bubble.
// It displays the content of the message.
templ UserChatBubble(message string) {
    <div class={"chat-bubble w-full flex justify-end"}>
        <div class={"flex flex-col w-full max-w-xl leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-l-xl rounded-b-xl"}>
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900">User</span>
            </div>
            <div class="text-sm font-normal py-2.5 text-gray-900">
                {message} 
            </div>
        </div>
    </div>
}

// LLMChatBubble returns a Templ component containing an LLM response.
// It streams the response from the URL provided and displays a message.
templ LLMChatBubble(message string, url string) {
    <div class={"chat-bubble w-full flex"}>
        <div class={"flex flex-col w-full max-w-xl leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-r-xl rounded-b-xl"}>
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900">User</span>
            </div>
            <div 
                class="text-sm font-normal py-2.5 text-gray-900" 
                hx-ext="sse"
                sse-connect={url}
                sse-swap="message" 
                sse-close="done"
            >
                @templ.Raw(message)
            </div>
        </div>
    </div>
}